{% extends 'dashboard_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<p><strong>Welcome, {{ student.user.username }}!</strong></p>

{% if student.roll_number %}
    <p><strong>Roll Number:</strong> {{ student.roll_number }}</p>
{% else %}
    <p><strong>Roll Number:</strong> Not assigned</p>
{% endif %}



{% if student.face_encoding %}
    <p><strong>Face Registered:</strong> Yes</p>
{% else %}
    <p><strong>Face Registered:</strong> No</p>
{% endif %}

<a href="{% url 'profile' %}" class="btn">Go to Profile</a>
<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>

{% endblock %}
