<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles_comm.css' %}">
</head>
<body>
  <div class="form-container">
    <h1>Sign Up</h1>
    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>

      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" required>

      <button type="submit" class="btn-submit">Sign Up</button>
    </form>
    <p class="switch-page">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
  </div>
</body>
</html>
